<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.wechat.dao.ApplicationDao">

	<select id="get" resultType="com.bootdo.wechat.domain.ApplicationDO">
		select `id`,`app_uid`,`app_name`,`app_appid`,`app_appsecret`,`team_id`,`description`,`created`,`updated`,`created_by`,`updated_by`,`modification_num` from team_application where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.wechat.domain.ApplicationDO">
		select `id`,`app_uid`,`app_name`,`app_appid`,`app_appsecret`,`team_id`,`description`,`created`,`updated`,`created_by`,`updated_by`,`modification_num` from team_application
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="appUid != null and appUid != ''"> and app_uid = #{appUid} </if>
		  		  <if test="appName != null and appName != ''"> and app_name = #{appName} </if>
		  		  <if test="appAppid != null and appAppid != ''"> and app_appid = #{appAppid} </if>
		  		  <if test="appAppsecret != null and appAppsecret != ''"> and app_appsecret = #{appAppsecret} </if>
		  		  <if test="teamId != null and teamId != ''"> and team_id = #{teamId} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="updated != null and updated != ''"> and updated = #{updated} </if>
		  		  <if test="createdBy != null and createdBy != ''"> and created_by = #{createdBy} </if>
		  		  <if test="updatedBy != null and updatedBy != ''"> and updated_by = #{updatedBy} </if>
		  		  <if test="modificationNum != null and modificationNum != ''"> and modification_num = #{modificationNum} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from team_application
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="appUid != null and appUid != ''"> and app_uid = #{appUid} </if>
		  		  <if test="appName != null and appName != ''"> and app_name = #{appName} </if>
		  		  <if test="appAppid != null and appAppid != ''"> and app_appid = #{appAppid} </if>
		  		  <if test="appAppsecret != null and appAppsecret != ''"> and app_appsecret = #{appAppsecret} </if>
		  		  <if test="teamId != null and teamId != ''"> and team_id = #{teamId} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="updated != null and updated != ''"> and updated = #{updated} </if>
		  		  <if test="createdBy != null and createdBy != ''"> and created_by = #{createdBy} </if>
		  		  <if test="updatedBy != null and updatedBy != ''"> and updated_by = #{updatedBy} </if>
		  		  <if test="modificationNum != null and modificationNum != ''"> and modification_num = #{modificationNum} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.wechat.domain.ApplicationDO" useGeneratedKeys="true" keyProperty="id">
		insert into team_application
		(
			`app_uid`, 
			`app_name`, 
			`app_appid`, 
			`app_appsecret`, 
			`team_id`, 
			`description`, 
			`created`, 
			`updated`, 
			`created_by`, 
			`updated_by`, 
			`modification_num`
		)
		values
		(
			#{appUid}, 
			#{appName}, 
			#{appAppid}, 
			#{appAppsecret}, 
			#{teamId}, 
			#{description}, 
			#{created}, 
			#{updated}, 
			#{createdBy}, 
			#{updatedBy}, 
			#{modificationNum}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.wechat.domain.ApplicationDO">
		update team_application 
		<set>
			<if test="appUid != null">`app_uid` = #{appUid}, </if>
			<if test="appName != null">`app_name` = #{appName}, </if>
			<if test="appAppid != null">`app_appid` = #{appAppid}, </if>
			<if test="appAppsecret != null">`app_appsecret` = #{appAppsecret}, </if>
			<if test="teamId != null">`team_id` = #{teamId}, </if>
			<if test="description != null">`description` = #{description}, </if>
			<if test="created != null">`created` = #{created}, </if>
			<if test="updated != null">`updated` = #{updated}, </if>
			<if test="createdBy != null">`created_by` = #{createdBy}, </if>
			<if test="updatedBy != null">`updated_by` = #{updatedBy}, </if>
			<if test="modificationNum != null">`modification_num` = #{modificationNum}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from team_application where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from team_application where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>